.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  background-color: var(--color-primary);
  padding-left: 2rem;

  &--blurred {
    filter: blur(3px);
    pointer-events: none;
  }
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__name {
  margin-left: 2rem;
  font-family: inherit;
  font-size: large;
  color: #ffffff;
}

.logo {
  flex-shrink: 0;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  gap: 5px;

  &__register {
    font-family: inherit;
    font-size: inherit;
    background: #ffffff;
    font-weight: inherit;
    width: 8rem;
    height: 4.2rem;
    border-radius: 0.4rem;
    border: none;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* add box shadow on hover, active, and focus */
    }

    &:active {
      transform: scale(0.95); /* add scale transformation on active */
    }
  }

  &__sign-up {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 8rem;
    height: 4.2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    border: none;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* add box shadow on hover, active, and focus */
    }

    &:active {
      transform: scale(0.95); /* add scale transformation on active */
    }
  }
}

.user-nav__userName {
  font-size: medium;
  font-weight: bolder;
  color: #140B34;
}
