.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  background-color: var(--color-primary);
  padding-left: 2rem;

  &--blurred {
    filter: blur(3px);
    pointer-events: none;
  }
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__name {
  margin-left: 2rem;
  font-family: inherit;
  font-size: large;
  color: #ffffff;
}

.logo {
  flex-shrink: 0;
}

// SEARCH
.search {
  flex: 0 0 40%;
  display: flex;
  width: 48rem;
  align-items: center;
  justify-content: center;
  margin-left: -14rem;
  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: 2rem;
    height: 4rem;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  gap: 5px;

  &__register {
    font-family: inherit;
    font-size: inherit;
    background: #ffffff;
    font-weight: inherit;
    width: 8rem;
    height: 4.2rem;
    border-radius: 0.4rem;
    border: none;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* add box shadow on hover, active, and focus */
    }

    &:active {
      transform: scale(0.95); /* add scale transformation on active */
    }
  }

  &__sign-up {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 8rem;
    height: 4.2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    border: none;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* add box shadow on hover, active, and focus */
    }

    &:active {
      transform: scale(0.95); /* add scale transformation on active */
    }
  }
}
